<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zhangdx.mybatis.mapper.SysUserMapper">

    <select id="findUserNames" resultType="cn.zhangdx.mybatis.pojo.SysUser">
        SELECT * FROM sys_user
        <where>
            <if test="queryName != null and queryName != ''">
                nickname LIKE CONCAT('%', #{queryName}, '%')
            </if>
        </where>
    </select>
</mapper>